@model StorageCompany.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAsked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAsked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEstimated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEstimated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intern)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
