@model IEnumerable<ItemIn>

@{
    ViewBag.Title = "Step2_Movement";
}

<div id="dialog-edit" style="display: none">
</div>

<div class=" crumbs">
    <a href="#" class="active"><i class="glyphicon glyphicon glyphicon-record"></i> Step 1 : Order</a>
    <a href="#" class="active"><i class="glyphicon glyphicon glyphicon-record"></i> Step 2 : Item</a>
    <a href="#"><i class="glyphicon glyphicon glyphicon-record"></i> Step 3 : Confirm</a>
</div>

<h2>Encodage des Articles</h2>
<h3>Mouvement Entrant</h3>

<p>
    @Html.ActionLink("Add New", "CreateItemIn", null, new { id = "lnkCreate" })
</p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeExpire)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeExpire)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteItemIn", new { id = item.storageId })
            </td>
        </tr>
    }
    </table>

    @Html.ActionLink("Next Step", "Step3_MovementIn", Model, new { @class = "btn btn-default" })


@section Scripts {

<script type="text/javascript">
    

    $(document).ready(function () {

        var url = "";

        $("#dialog-edit").dialog({
            title: 'Create Item',
            autoOpen: false,
            resizable: false,
            width: 400,
            height: 250,
            show: { effect: 'drop', direction: 'up' },
            modal: true,
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
            
        });

        $("#lnkCreate").click(function () {
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            return false;
        });

    });
</script>

}
