@model IEnumerable<StorageCompany.Models.StoredProcedure.ItemIn>

@{
    ViewBag.Title = "Step2_Movement";
}
<script src="~/Content/Scripts/jquery-ui.min-1.11.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<div class=" crumbs">
    <a href="#" class="active"><i class="glyphicon glyphicon glyphicon-record"></i> Step 1 : Order</a>
    <a href="#" class="active"><i class="glyphicon glyphicon glyphicon-record"></i> Step 2 : Item</a>
    <a href="#"><i class="glyphicon glyphicon glyphicon-record"></i> Step 3 : Confirm</a>
</div>

<h2>Encodage des Articles</h2>
<h3>Mouvement Entrant</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @Html.ActionLink("Add New", "CreateItemIn", null, new { id = "lnkCreate" })
    </p>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeExpire)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeExpire)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteItemIn", new { item = item }, new { @class = "lnkDelete" })
            </td>
        </tr>
    }
    <tr id="dialog-create" style="display: none">
    </tr>

    </table>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-create").dialog({
            title: 'Create Item',
            autoOpen: false,
            resizable: false,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#lnkCreate]").live("click", function () {
            url = $(this).attr('href');
            $("#dialog-create").dialog('open');
            return false;
        });
    });
</script>
}
