@model IEnumerable<StorageCompany.Models.Package>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
