@model IEnumerable<StorageCompany.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAsked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateEstimated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intern)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAsked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateEstimated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intern)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
