@model StorageCompany.Models.Item

@{
    ViewBag.Title = @StorageCompany.Ressources.StringsDispalyed.title_item_details;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Item</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeExpire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeExpire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
