@model StorageCompany.Models.Storage

@{
    ViewBag.Title = @StorageCompany.Ressources.StringsDispalyed.title_product_create;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Storage</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.storageTypeId, "storageTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("storageTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.storageTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.storageParentId, "storageParentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("storageParentId", String.Empty)
                @Html.ValidationMessageFor(model => model.storageParentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usable)
                @Html.ValidationMessageFor(model => model.usable)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
