@model IEnumerable<StorageCompany.Models.Movement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Storage.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Storage.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
